
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-size: 16px;
}
body {
    font-family: "Nunito", Georgia;
    background: snow;
}

section {
    min-height: 100vh;
}
.footer-image {
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
}